/* classes */

.main {
    font-size: medium;
    font-family: "Atlas Grotesk Web",sans-serif;
    font-size: 19px;
}

.titel {
    font-size: 60px;
    text-align: center;
}

.article {
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border: solid 2px rgb(255, 0, 75);
}


/* ids */

#untertitel {
    font-size: large;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 5%;
    text-decoration-line: underline;
}