/* classes */

.main {
    display: flex;
    flex-direction: column;
    font-size: medium;
    font-family: "Atlas Grotesk Web",sans-serif;
    font-size: 19px;
    color: whitesmoke;
    background-color: rgb(24, 26, 27);
}

.titel {
    font-size: 60px;
    text-align: center;
}


/* ids */

#untertitel {
    font-size: large;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    text-decoration-line: underline;
}

#pictures {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

#footer {
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: auto;
    margin-bottom: 2.5%;
    border: solid 2px rgb(255, 0, 75);
}