html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Comic Sans MS";
    /*font-family: "Atlas Grotesk Web",sans-serif;*/
    background-color: rgb(24, 26, 27);
    color: whitesmoke;
    font-size: 19px;
}

/* classes */

.button {
    background-color: rgb(255, 0, 75);
    padding: 12px 30px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: whitesmoke;
}

.button:hover {
    background-color: rgb(255, 0, 150);
}

.pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px 10px;
}


/* ids */

#header {
    font-size: 60px;
    text-align: center;
}

#main {
    flex-grow: 1;
}

#untertitel {
    font-size: large;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 3%;
    text-decoration-line: underline;
}

#pictures {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

#footer {
    padding: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 1%;
    border: solid 2px rgb(255, 0, 75);
    display: flex;
    align-items: center;
    justify-content: center;
}